# Настройки Django
DJANGO_SECRET_KEY=change-me-generate-a-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,cats.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,https://cats.example.com
DJANGO_TIME_ZONE=Europe/Moscow
DJANGO_LANGUAGE_CODE=ru-ru
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8080,http://127.0.0.1:8080

# Настройки MySQL
MYSQL_DATABASE=cats_service
MYSQL_USER=cats
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-me
MYSQL_HOST=mysql
MYSQL_PORT=3306

# Настройки Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://redis:6379/0

# Настройки MongoDB
MONGODB_USERNAME=cats_mongo
MONGODB_PASSWORD=change-mongo-me
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_DATABASE=cats_service
MONGODB_CHAT_MESSAGES_COLLECTION=chat_messages

# Внешние порты контейнеров
NGINX_EXTERNAL_PORT=8080
BACKEND_EXTERNAL_PORT=8000
MYSQL_EXTERNAL_PORT=3306
REDIS_EXTERNAL_PORT=6379
MONGODB_EXTERNAL_PORT=27017

# Безопасность
ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_DAYS=7
WS_TICKET_TTL_SECONDS=60
CHAT_MESSAGE_MAX_LENGTH=2000
MAX_UPLOAD_SIZE_MB=5
USE_X_FORWARDED_HOST=True

MEDIA_URL=/media/
STATIC_URL=/static/
